<mat-card>

  <mat-toolbar>Classes Disponiveis</mat-toolbar>

  <div *ngIf="listaClasse$ | async as classe; else loading">
    <table mat-table [dataSource]="classe" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- id Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let Classe"> {{Classe._id}} </td>
      </ng-container>

      <!-- nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let Classe"> {{Classe.nome}} </td>
      </ng-container>
      <!-- valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let Classe"> {{Classe.valor}} </td>
      </ng-container>

      <!-- data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data Devolução </th>
        <td mat-cell *matCellDef="let Classe"> {{Classe.dataDevolucao}} </td>
      </ng-container>

      <!--Actions Column-->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="accent" aria-label="Adicionar Classe" (click)="onAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let Classe">
          <button mat-icon-button color="primary" aria-label="Editar Classe" (click)="onEdit(Classe)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Excluir Classe" (click)="onDelete(Classe)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spiiner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>