<mat-card>

    <mat-toolbar>Titulos Disponiveis</mat-toolbar>

    <div *ngIf="listaTitulo$ | async as titulo; else loading">
        <table mat-table [dataSource]="titulo" class="mat-elevation-z8">

            <!-- nome Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let Titulo"> {{Titulo.nome}} </td>
            </ng-container>

            <!-- diretor Column -->
            <ng-container matColumnDef="diretor">
                <th mat-header-cell *matHeaderCellDef> Diretor </th>
                <td mat-cell *matCellDef="let Titulo"> {{Titulo.diretor.nome}} </td>
            </ng-container>

            <!--Actions Column-->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <button mat-mini-fab color="accent" aria-label="Adicionar Titulo" (click)="onAdd()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-header-cell>
                <mat-cell *matCellDef="let Titulo">
                    <button mat-icon-button color="primary" aria-label="Editar Titulo" (click)="onEdit(Titulo._id)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" aria-label="Excluir Titulo" (click)="onDelete(Titulo)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <ng-template #loading>
        <div class="loading-spiiner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</mat-card>